@import "vendor/bootstrap/bootstrap";
@main-color: #e55166;


.nav-header {

	.menu-header {
		li {

			&.parent {
				position: relative;
				& > a {
					position: relative;
					&:after {
						content: "";
						height: 5px;
						width: 5px;
						position: absolute;
						left: 100%;
						margin-left: 5px;
					    top: 27px;
					    transform: rotate(-45deg);
						border-left: 2px solid black;
						border-bottom: 2px solid black;
						background: transparent;
					}
				}
				&:hover{
					a {
						color: @main-color;
						text-decoration: none;
						border-top: 5px solid rgba(229, 81, 102, 1);
						transition: all 0.3s;
						&:after{
							background: transparent;
						}
					}
					.drop-menu{
						display: block;
					}
				}
				.drop-menu {
					display: none;
					position: absolute;
					top: 70px;
					left: 0;
					width: 100%;
					background: @main-color;
					z-index: 11;
					padding: 20px 33px;
					li {
						width: 100%;
						padding: 0;
						display: block;
						a {
							color: #fff;
							padding: 10px 0;
							text-transform: none;
							&.is-active {
                                opacity: .5
							}
						}
					}
				}
			}
		}
	}
}

body{
	background: #EEE;
}


.popup_wrapper{
	width: 800px!important;
	height: 600px!important;
	transform: translate(-50%, -50%);
	left: 50%!important;
	top: 50% !important;
	background: #fff;
	.add-review-form.popup_content{
		overflow: auto;
	}
	.add-review-form__content{
		.add-review-toolbar{
			position: fixed;
			width: 100%;
			bottom: 0;
			left: 0;
			padding: 10px 35px 10px 35px;
			box-sizing: border-box;
			z-index: 10;
			height: 70px;
			background: #fff;
            display: none;
		}
		&.toolbar{
        		padding-bottom: 70px;
        		.add-review-toolbar{
            		display: inherit;
            }
    		}
	}
}

textarea{
	resize: none;
}

.radio{
	display: inline-block;
	padding-left: 20px;
	margin: 0 10px;
}
.controls{
    clear: both;
}
.overflow{
    overflow: hidden;
}
.yes{
	font-family: 'ProximaNovaBold';
    color: green;
    font-weight: bold;
}
.no{
	font-family: 'ProximaNovaBold';
    color:#e55166;
    font-weight: bold;
}
.reviews__body__one{
    margin-bottom: 20px
}

.c-one-new__content table h4{
	padding: 10px;
}

.container{
	.container{
		width: 100%;
	}
	.overflow-table{
		overflow: auto;

	}
}


.c-height{
	height: 360px;
}





.c-header .menu-icon {
	cursor: pointer;
	width: 40px;
	height: 30px;
	display: none;
	position: relative;
	float: right;
	transition: 0.3s;

	&.open{
		&:before,&:after, span{
			transition: top .3s ease, -webkit-transform .3s .5s ease;
			transition: top .3s ease, transform .3s .5s ease;
			transition: top .3s ease, transform .3s .5s ease, -webkit-transform .3s .5s ease;
		}
		span{
			-webkit-transform: scale3d(0.8, 0.8, 0.8);
			transform: scale3d(0.8, 0.8, 0.8);
			background: none;


		}

		&:before {
			-webkit-transform: rotate3d(0, 0, 1, 45deg);
			transform: rotate3d(0, 0, 1, 45deg);
			top: 10px;
		}
		&:after {
			-webkit-transform: rotate3d(0, 0, 1, -45deg);
			transform: rotate3d(0, 0, 1, -45deg);
			top: 10px;
		}

	}


	&:before {
		top: 0;
	}

	&:after {
		top: 100%;
	}

	span {
		top: 50%;
		margin-top: 0;
	}

	&:before, &:after, span {
		transition: top .3s .6s ease, -webkit-transform .3s ease;
		transition: top .3s .6s ease, transform .3s ease;
		transition: top .3s .6s ease, transform .3s ease, -webkit-transform .3s ease;
		content: "";
		position: absolute;
		left: 0;
		background: #e55166;
		display: block;
		width: 40px;
		height: 2px;

	}

}

.tender-tabs-wrapper{
	z-index: 7!important;
}

@media screen and (max-width: 1200px) {
	.container{
		.sb-v h2{
			font-size: 26px;
		}
		.c-one-new__content table h4{
			padding: 0;
			font-size: 16px;
		}
	}

	.last{
		display: none;
	}

}

@media screen and (max-width: 992px){
	.c-t__cards{
		.col-xs-6{
			padding: 15px;
		}
	}


	.c-header .menu-icon{
		display: block;
		margin: 15px 15px 15px 0;
		+ .menu-header{
			display: none;
			clear: both;

		}
	}

	.sb-s .row{
		>div{
			margin-bottom: 20px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}

	.c-header .c-header__logo{

		margin: 10px 0;
		float: none;
		display: block;
		position: relative;
		z-index: 10;
	}

	.c-header .c-header__nav-wrap{
		float: none;
		position: absolute;
		width: 100%;
		padding: 15px 0;
		top: 0;
		right: 0;
		background: #fff;
		z-index: 9;

	}

	.c-header{
		position: relative;
		border-bottom: 1px solid #ececec;
		.container{

		}
		.c-header__nav-list li{
			display: block;
			padding: 0;
			text-align: center;
			border-bottom: 1px solid #ececec;
			a{
				display: inline-block;
				padding: 15px 0 20px 0;
			}

		}
	}



}

@media screen and (max-width: 959px) {
	.container{
		.overflow-table{
			overflow-x: scroll;
		}




		.c-header__nav-wrap,
		.c-header__nav-list{
			padding: 0;
		}
	}


	.popup_wrapper{
		width: calc(~"100vw - 40px")!important;
		height: 400px!important;
		.container{
			width: auto;
		}
	}
}

@media screen and (max-width: 600px) {
	.container{
		.sb-s .row{
			.col-md-6{
				>div{

					width: 100%;
					padding-right: 0;
					padding-left: 0;
					input{
						margin-bottom: 20px;
						&:last-child{
							margin-bottom: 0;
						}
					}

					.sb-s__or{
						display: block;
						margin-bottom: 20px;
						position: relative;
						top: inherit;
						margin-left: 0;
						left: inherit;
						width: 100%;
					}
				}
			}
		}

		.c-t__cards{
			.col-xs-6{
				display: block;
				padding: 0;
				text-align: center;
				margin-bottom: 20px;
				width: 100%;
			}
		}

		.c-blog__news-item{
			width: 100%;
		}
	}

	.reviews__item{
		.reviews__footer{
			> div{
				float: none!important;
				margin-bottom: 15px;
				a{
					display: inline-block;
				}
			}
			> a{
				float: none!important;

			}
		}

		&.reviews__item--deep-2{
			padding-left: 30px;
		}
	}
}


@media screen and (max-width: 400px){
	.wrapper-main .tender-tabs__buttons li span{
		padding: 15px 8px;
	}
}